* {
   outline:2px solid red;
}


a{
    color:#e5e7eb;
}

.upper-header-container{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 50px;
    font-size: 24px;
    color: #f9faf8;
}

.header-link li{
    display:inline-flex;
    justify-content: space-evenly;
    padding-right: 200px;
  
}

.middle-header-container  {
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: #1f2937;
    align-items: center;
    
}

.header-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9fAf8;
}

.header-para-text{
    font-size: 18px;
    color: #e5e7eb;
}

#cat-one{
    padding-left: 100px;