/* {
   outline:2px solid red;
}
*/

a{
    color:#e5e7eb;
}

.upper-header-container{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 50px;
    font-size: 24px;
    color: #f9faf8;
}

.header-link li{
    display:inline-flex;
    justify-content: space-evenly;
    padding-right: 200px;
    font-size: 18px;
    color: #e5e7eb;
}

.middle-header-container  {
    display:flex;
    justify-content: space-around;
    background-color: #1f2937;
    flex-direction: column;
}

#one .middle-header-text li  {
    font-size: 48px;
    font-weight: bolder;
    
}